header.dash-header{
    background-color: #b70e17;
    width: 100%;
    height: 100px;
}

header nav ul{
    margin: 0 auto;
    display: block;
    width: fit-content;
}

header nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0 5px;
}

header nav ul li a{
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    line-height: 20px;
}

.header-brand{
    font-family: 'Roboto Slab';
    font-weight: 900;
    font-size: 25px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
    color: white;
}

main{
    width: 100%;
    height: 100%;
}

.card img{
    width: 300px;
    height: 250px;
    padding-top: 10px;
    border-radius: 5%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}

.column{
    width: 25%;
    float: left;
    margin-top: 20px;
}

.row ::after{
    content: "";
    display: table;
    clear: both;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    background-color: white;
    text-align: center;
    border-radius: 30px;
    padding-bottom: 10px;
}

.card div{
    margin: 5px 120px;
    width: calc(100% - 240px);
    height: 25px;
    background-color:#b70e17;
    border-radius: 10px;
    padding-top: 7px;
}
.card div h2{
    font-family: 'Roboto Slab';
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.card div:hover{
    background-color: #e04c4c;
}

.card h4.title{
    font-size: 20px;
}

@media only screen and (max-width: 600px){
    .column{
        width: 100%;
        display: block;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 1000px){
    header .header-brand{
        margin: 35px 0;
        text-align: left;
        padding: 0 20px 0 40px;
        line-height: 30px;
        border-right: 3px solid #fff;
        float: left;
    }

    header nav ul{
        margin: 35px 0;
        float: left;
    }

    header nav ul li{
        padding: 0 20px 0 20px;
        border-right: 3px solid #fff;

    }

    #no-border{
        border-right:none;
    }
    
    header nav ul li a{
        line-height: 30px;
        opacity: 0.7;
    }

    #footer-list{
        margin-left: 400px;
    }

    .footer-sm{
        margin-right: 400px;
    }

    footer{
        width: 100%;
        display: block;
        position: relative;
        clear: both;
    }

}

footer{
    width: calc(100% - 60px);
    padding: 20px 30px;
    padding: 10px;
}

footer ul{
    width: fit-content;
    float: left;
}

footer ul li{
    display: block;
    list-style: none;
    margin: 10px;
}

footer ul li a{
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: 15px;
    color: #b70e17;
    line-height: 35px;
}

.footer-sm{
    width: 40px;
    float: right;
}

.footer-sm img{
    width: 100%;
    height: 20%;
    margin: 3px;
}



