#order-main{
    height: calc(100vh-100px);
}

.order-wrap{
    max-width: 750px;
    border-radius: 20px;
    margin: auto;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 40px;
    color: black;
    margin-top: 70px;
    margin-bottom: 30px;
}

.order-wrap h2{
    font-size: 30px;
    font-family: 'Roboto Slab';
    margin-bottom: 20px;
    text-align: center;
}

input[type = "text"]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0, 0, 0, 0.10);
    outline: none;
    border: 1px solid #818489 ;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
}

input[type = "submit"]{
    width: 200px;
    box-sizing: border-box;
    padding: 10px 0;
    outline: none;
    border: none;
    margin: 30px auto 0px auto;
    background: #b70e17;
    opacity: 0.8;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
    display: block;
}
input[type = "submit"]:hover{
    background: #bf1313;
    opacity: 1;
}
