main{
    height: calc(100vh-100px);
}

.container{
    max-width: 900px;
    height: 1000px;
    border-radius: 20px;
    margin: auto;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 40px;
    color: black;
    margin-top: 70px;
    margin-bottom: 30px;
}

.container h1{
    font-size: 30px;
    font-family: 'Roboto Slab';
    margin-bottom: 20px;
    text-align: center;
}

.spec-img{
    width: 500px;
    height: 400px;
    display: block;
    padding-top: 10px;
    border-radius: 5%;
    margin: 30px auto 0px auto;

}
